<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'forshow' %>
    </div>

    <div class="columns is-centered">
      <div class="column is-four-fifths">
        <div class="box">

          <%= render @advertisement.comments.order('created_at DESC') %>
          <% if user_signed_in? && !@advertisement.waiting? %>
            <%= render 'comments/form' %>
          <% end %>

        </div>
      </div>
    </div>

  </div>
</section>

